pi-cuda-1
pi-cuda-2
*.o
.cproject
.project
.ptp-sync/HEAD
.ptp-sync/config
.ptp-sync/info/exclude
.settings/org.eclipse.ptp.rdt.sync.core.prefs
/Debug
/.ptp-sync
org.eclipse.cdt.managedbuilder.core.prefs
.nfs00000000010cd97200000010
